a {
    cursor: pointer;
}

.inner {
    text-align: center;
}

/********************************/
ul#keyboard {
    height: 10em;
    width:100%;
    margin: 0;
    padding: 0;
}

li.white-key {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    float: left;
    height: 100%;
    width: 4.54%;
    z-index: 1;
    border: 2px solid black;
    border-radius: 0 0 5px 5px;
    background: white;
    transition: 0.1s;
}

li.ls {
    margin: 0 0 0 -1.135%;
}

li.black-key {
    padding: 0;
    list-style: none;
    position: relative;
    float: left;
    height: 60%;
    width: 2.27%;
    margin: 0 0 0 -1.135%;
    z-index: 2;
    border: 2px solid black;
    border-radius: 0 0 3px 3px;
    background: black;
    transition: 0.1s;
}

.white-key.selected {
    background: #ff0000;
}

.white-key.highlighted {
    background: #5151ff;
}

.white-key.selected.highlighted {
    background: #02da02;
}

.black-key.selected {
    background: #bb0000;
}

.black-key.highlighted {
    background: #5151bb;
}

.black-key.selected.highlighted {
    background: #02bb02;
}

li:hover {
    cursor: pointer;
}

ul#keyboard li:first-child {
    border-radius: 5px 0 5px 5px;
}

ul#keyboard li:last-child {
    border-radius: 0 5px 5px 5px;
}

#keyboard-controls {
    display: flex;
    justify-content: space-around;
}

/********************************/
#menus {
    margin: 1em 0;
    margin-bottom: 200px;
    position: inline-block;
}

#controls {
    display: flex;
}

.dropdown {
    position: relative;
    display: inline-block;
    padding: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f8f8f8;
    min-width: 190px;
    height: 200px;
    z-index: 1;
    box-shadow: 0px 8px 16pz 0pz rgba(0, 0, 0, 0.2);
    overflow: hidden;
    overflow-y: scroll;
    border: 3px solid #4f4f4f;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/********************************/
#randomizer {
    margin: 1em 0;
    padding: 1em;
    border: 2px solid #4f4f4f;
    border-radius: 5px;
}

#randomizer * {
    margin: 1em;
}

#randomizer button {
    max-width: 90%;
}

#randomizer span {
    font-weight: bold;
}